fastapi
uvicorn
orjson
pydantic
email-validator
langchain
langchain-google-genai
google-generativeai
asyncpg
python-dotenv
python-multipart
PyPDF2
scikit-learn
numpy
PyJWT
ruff
mypy
cachetools

sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
httpx
pgvector
langchain-openai
langchain-postgres
tiktoken
pytest
pytest-asyncio
locust
asgiref
celery
redis

prometheus-fastapi-instrumentator
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi

gunicorn